
.DS_Store
.Rproj.user/8FF3DF68/sources/prop/87BF2086
.Rproj.user/8FF3DF68/sources/prop/INDEX
.Rproj.user/8FF3DF68/sources/s-7215142A/507451B5
.Rproj.user/8FF3DF68/sources/s-7215142A/507451B5-contents
.Rproj.user/8FF3DF68/sources/s-7215142A/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
